<div class="container mt-5">
  <h1 class="text-center mb-4">予約詳細</h1>
  
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>来店日時</th>
        <td><%= @reservation_detail.visit_datetime.strftime('%Y-%m-%d %H:%M') %></td>
      </tr>
      <tr>
        <th>担当セラピスト名</th>
        <td><%= @reservation_detail.therapist&.therapist_name || 'なし' %></td>
      </tr>
      <tr>
        <th>コース名</th>
        <td><%= @reservation_detail.course_name %></td>
      </tr>
      <tr>
        <th>支払い</th>
        <td>店頭支払い</td>
      </tr>
      <tr>
        <th>料金</th>
        <td><%= @reservation_detail.unit_price %>円</td>
      </tr>
      <tr>
        <th>予約者名</th>
        <td><%= link_to @reservation_detail.customer_name, admin_customer_path(@reservation_detail.customer) %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= @reservation_detail.customer.postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @reservation_detail.customer.address %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @reservation_detail.customer.telephone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @reservation_detail.customer.email %></td>
      </tr>
    </tbody>
  </table>
</div>
