<div class="container ">
<h2><%= "#{@customer.last_name} #{@customer.first_name}" %>さんの会員編集</h2>

<%= form_with(model: @customer, url: admin_customer_path(@customer), local: true) do |f| %>
 <div class="field d-flex">
  <%= f.label :last_name, '氏名', class: 'mr-3' %>
  <%= f.text_field :last_name, class: 'mr-2' %>
  <%= f.text_field :first_name, class: 'mr-2' %>
 </div>

 <div class="field d-flex mt-3">
    <%= f.label :first_name_kana, 'ふりがな', class: 'mr-3 ' %>
    <%= f.text_field :last_name_kana, class: 'mr-2' %>
    <%= f.text_field :first_name_kana, class: 'mr-2' %>
  </div>

  <div class="field ">
    <%= f.label :postal_code, '郵便番号', class: 'mr-3 mt-3' %>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field mt-3">
    <%= f.label :address, '住所', class: 'mr-2' %>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :telephone_number, '電話番号', class: 'mr-2' %>
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= f.label :email, 'メールアドレス', class: 'mr-2' %>
    <%= f.text_field :email %>
  </div>

 <div class="field d-flex">
    <%= f.label :is_deleted, '会員ステータス', class: 'mr-3' %>
  <div class="form-check mr-2">
    <%= f.radio_button :is_deleted, false, id: 'is_deleted_false', class: 'form-check-input' %>
    <%= f.label :is_deleted_false, '有効', value: false, class: 'form-check-label', for: 'is_deleted_false' %>
  </div>
  <div class="form-check">
    <%= f.radio_button :is_deleted, true, id: 'is_deleted_true', class: 'form-check-input' %>
    <%= f.label :is_deleted_true, '退会', value: true, class: 'form-check-label', for: 'is_deleted_true' %>
  </div>
</div>


  <%= f.submit '更新する', class: 'btn btn-primary' %>
<% end %>
