<div class="container">
  <h2><%= "#{@customer.last_name} #{@customer.first_name}" %>さんの会員詳細</h2>

  <p><strong>会員ID:</strong> <%= @customer.id %></p>
  <p><strong>氏名:</strong> <%= "#{@customer.last_name} #{@customer.first_name}" %></p>
  <p><strong>ふりがな:</strong> <%= "#{@customer.last_name_kana} #{@customer.first_name_kana}" %></p>
  <p><strong>郵便番号:</strong> <%= @customer.postal_code %></p>
  <p><strong>住所:</strong> <%= @customer.address %></p>
  <p><strong>電話番号:</strong> <%= @customer.telephone_number %></p>
  <p><strong>メールアドレス:</strong> <%= @customer.email %></p>
  <p><strong>ステータス:</strong> <%= @customer.is_deleted ? '退会' : '有効' %></p>
  
  <div class="mt-3">
    <%= link_to '編集', edit_admin_customer_path(@customer), class: 'btn btn-primary' %>
    <%= link_to '予約履歴一覧', admin_root_path(customer_id: @customer.id), class: 'btn btn-success ml-2' %>
  </div>
</div>