<div class="container mt-5">
  <h1 class="mb-4">管理者コメントの編集</h1>

  <%= form_with(model: [:admin, review], local: true, class: 'needs-validation', novalidate: true) do |form| %>
    <% if review.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h4>
        <ul>
          <% review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :admin_comment, '管理者コメント' %>
      <%= form.text_field :admin_comment, class: 'form-control', required: true %>
      <div class="invalid-feedback">
        有効なコメントを提供してください。
      </div>
    </div>

    <div class="form-group mt-4">
      <%= form.submit '保存', class: 'btn btn-primary' %>
    </div>
  <% end %>
