<h1>口コミ一覧</h1>

<table>
  <tr>
    <th>評価</th>
    <th>コメント</th>
    <th>投稿者</th>
    <th>匿名</th>
    <th>管理者コメント</th>
    <th>操作</th>
  </tr>

  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.rating %></td>
      <td><%= review.comment %></td>
      <td><%= review.customer_id ? "会員: #{review.customer_id}" : "ゲスト: #{review.anonymous_name}" %></td>
      <td><%= review.anonymous_name %></td>
      <td><%= review.admin_comment %></td>
      <td>
        <%= link_to '編集', edit_admin_review_path(review) %> |
        <%= link_to '削除', admin_review_path(review), method: :delete, data: { confirm: '本当に削除しますか？' } %> |
        <%= link_to 'お礼のコメントを追加', edit_admin_review_path(review) %> <!-- お礼のコメントのリンク。必要に応じて適切なパスを設定してください -->
      </td>
    </tr>
  <% end %>
</table>

<%= link_to '新規作成', new_admin_review_path %>
