<h1>予約詳細</h1>

<table>
  <tr>
    <th>Visit Date and Time</th>
    <td><%= @reservation_detail.visit_datetime %></td>
  </tr>
  <tr>
    <th>Customer Name</th>
    <td><%= @reservation_detail.customer_name %></td>
  </tr>
  <tr>
    <th>Course Name</th>
    <td><%= @reservation_detail.course_name %></td>
  </tr>
  <tr>
    <th>Unit Price</th>
    <td><%= @reservation_detail.unit_price %></td>
  </tr>
  <tr>
    <th>Subtotal</th>
    <td><%= @reservation_detail.subtotal %></td>
  </tr>
</table>

<%= link_to 'Back to Reservation List', public_reservations_details_path %>
