<div class="container mt-5">
  <h1 class="text-center mb-4">予約一覧</h1>

  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>登録者会員</th>
        <th>予約日時</th>
        <th>予約者名</th>
        <th>コース名</th>
        <th>操作</th> <!-- 詳細リンクのためのカラム名を追加 -->
      </tr>
    </thead>
    <tbody>
      <% @reservation_details.each do |reservation_detail| %>
        <tr>
          <td><%= reservation_detail.customer.guest? ? 'ゲスト' : '会員' %></td>
          <td><%= reservation_detail.visit_datetime.strftime('%Y-%m-%d %H:%M') if reservation_detail.visit_datetime %></td>
          <td><%= reservation_detail.customer_name %></td>
          <td><%= reservation_detail.course_name %></td>
          <td>
              <%= link_to '詳細', admin_reservations_detail_path(reservation_detail), class: 'btn btn-primary btn-sm' %> |
              <%= link_to '削除', admin_reservations_detail_path(reservation_detail), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @reservation_details %>
</div>

