<h1>Reservation Confirmation</h1>

<p><strong>Service Menu:</strong> <%= @reservation.service_menu.course_name %></p>
<p><strong>Price:</strong> <%= @reservation.service_menu.price_incl_tax %></p>
<p><strong>Therapist:</strong> <%= @reservation.therapist.therapist_name %></p>
<p><strong>Visit Date and Time:</strong> <%= @reservation.visit_datetime.strftime('%Y-%m-%d %H:%M') %></p>

<h2>Customer Details</h2>

<% if @customer.guest? %>
  <%= form_with model: @customer, url: { action: :update } do |f| %>
    <h2>Guest Details</h2>
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name %>

    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name %>

    <%= f.label :postal_code, "Postal Code" %>
    <%= f.text_field :postal_code %>

    <%= f.label :address, "Address" %>
    <%= f.text_field :address %>

    <%= f.label :telephone_number, "Phone Number" %>
    <%= f.text_field :telephone_number %>

    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>

    <%= f.submit "Update Details" %>
    
    
  <% end %>
  
<% else %>


<p>Selected Course: <%= @reservation.service_menu.course_name %></p>
<p>Price: <%= @reservation.service_menu.price_incl_tax %></p>
<p>Visit Date and Time: <%= @reservation.visit_datetime %></p>
<p>Customer Name: <%= @customer.last_name %> <%= @customer.first_name %></p>
<p>Postal Code: <%= @customer.postal_code %></p>
<p>Address: <%= @customer.address %></p>
<p>Phone Number: <%= @customer.telephone_number %></p>
<p>Email: <%= @customer.email %></p>

  <!-- 通常の顧客情報表示セクション -->
<% end %>

<%= link_to "予約確定", complete_public_reservation_path(@reservation), method: :get %>

