<%= form_with model: @reservation, url: public_reservations_path do |f| %>
  <%= f.hidden_field :service_menu_id, value: @service_menu.id %>
  <p>Selected Course: <%= @service_menu.course_name %></p>
  <p>Price: <%= @service_menu.price_incl_tax %></p>

  <%= f.label :customer_id, "Customer" %>
  <% if current_customer.guest? %>
    <p>You are logged in as a guest. Customer selection is disabled.</p>
  <% else %>
    <p>You are logged in as <%= current_customer.last_name %> <%= current_customer.first_name %>. Customer selection is disabled.</p>
  <% end %>
  <%= f.hidden_field :customer_id, value: current_customer.id %>

  <%= f.label :therapist_id, "Therapist" %>
  <%= f.select :therapist_id, Therapist.all.collect { |t| [t.therapist_name, t.id] }, prompt: 'Select a therapist' %>

  <%= f.label :visit_datetime, "Visit Date and Time" %>
  <%= f.datetime_select :visit_datetime %>

  <p>Payment Method: At the store</p>

  <%= f.submit "Create Reservation" %>
<% end %>
