<div class="container mt-5">
  <h1 class="text-center mb-4">セラピスト一覧</h1>

  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>セラピスト名</th>
        <th>セラピスト歴</th>
        <th>一言コメント</th>
        <th>Image</th>
        <th colspan="3">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @therapists.each do |therapist| %>
        <tr>
          <td><%= therapist.therapist_name %></td>
          <td><%= therapist.experience_years %></td>
          <td><%= therapist.introduction %></td>
          <td><%= image_tag therapist.image, class: "img-thumbnail", style: "width: 100px;" if therapist.image.attached? %></td>
          <td><%= link_to '詳細', admin_therapist_path(therapist), class: 'btn btn-info btn-sm' %></td>
          <td><%= link_to '編集', edit_admin_therapist_path(therapist), class: 'btn btn-warning btn-sm' %></td>
          <td><%= link_to '削除', admin_therapist_path(therapist), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center mt-3">
    <%= link_to '新規登録', new_admin_therapist_path, class: 'btn btn-primary' %>
  </div>
</div>
