<div class="container mt-5">
  <%= form_with(model: [:admin, @therapist], local: true) do |form| %>
    <% if @therapist.errors.any? %>
      <div class="alert alert-danger">
        <h4 class="alert-heading"><%= pluralize(@therapist.errors.count, "error") %> prohibited this therapist from being saved:</h4>
        <ul>
          <% @therapist.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :therapist_name, "セラピスト名" %>
      <%= form.text_field :therapist_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :experience_years, "セラピスト歴" %>
      <%= form.number_field :experience_years, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :introduction, "一言コメント" %>
      <%= form.text_area :introduction, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :image %>
      <%= form.file_field :image, class: "form-control-file" %>
    </div>

    <div class="actions mt-3">
      <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
