<!DOCTYPE html>
<html>
  <head>
    <title>Nagomiya</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>
        <!-- 管理者がログイン後に表示するリンク -->

        <%= link_to 'セラピスト紹介', admin_therapists_path %>
        <%= link_to '施術メニューの一覧', admin_service_menus_path %>
        <%= link_to '予約履歴の一覧', admin_root_path %>
        <%= link_to '会員一覧', admin_customers_path %>
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
      <% elsif customer_signed_in? %>
        <!-- 顧客がログイン後に表示するリンク -->
        <%= link_to 'セラピスト紹介', public_therapists_path %>
        <%= link_to '施術メニューの一覧', public_service_menus_path %>
        <%= link_to "マイページ", public_customer_path(current_customer) %>
        <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %>

      <% else %>
        <!-- ログイン前に表示するリンク (共通) -->
        <%= link_to 'セラピスト紹介', public_therapists_path %>
        <%= link_to 'About', public_about_path %>

        <%= link_to '新規登録', new_customer_registration_path %>
        <%= link_to 'ログイン', new_customer_session_path %>

      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
